<div class="mt-4">
 <form method="POST" action="store">
    <div class="form-group">
      <label for="lbl_Data">Data address</label>
      <input type="text" class="form-control" id="data" name="data" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="lbl_Nonce">Nonce</label>
      <select class="form-control" id="nonce" name="nonce">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>