<nav class="row navbar navbar-dark bg-dark mt-4">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">THÔNG TIN</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">KẾT NỐI</h5>
            <p class="card-text">
                <a href="https://www.facebook.com/FaceDue" title="Facebook"><span class="wd-icon-28 wd-icon-facebook"></span>Facebook</a>
                <p></p>
                <a href="https://www.linkedin.com/school/ueud" title="Linked in"><span class="wd-icon-28 wd-icon-rss"></span>Linked in</a> 
            </p>
        </div>
        </div>
    </div> <div class="col-3">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">MAP</h5>
            <p class="card-text">
                <p>Google Maps</p> 
                <p>Đà Nẵng</p> 
            </p>
        </div>
        </div>
    </div> <div class="col-3">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">LƯỢT TRUY CẬP</h5>
            <p class="card-text">
                <p>Lượt truy cập: 1000</p> 
                <p>Đang truy cập: 500</p> 
            </p>
        </div>
        </div>
    </div>
</nav> 